.nav-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0px;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-title {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 600;
}
.logo-title > span {
  color: #ff42a5;
}

.logo-icon {
  width: 70px;
}
.nav-items-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-item {
  text-decoration: none;
}

.follow-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 16px 24px;

  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: 0;
}
.follow-us-title,
.nav-item {
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}
.youtube-img {
  margin-left: 16px;
  margin-right: 16px;
}
.tiktok-img {
  width: 25px;
}

/* ==================== banner Styles ========================================= */

.banner-container {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.banner-img-class {
  width: 50%;
  /* padding-right: 80px; */
}
.banner-img {
  width: 80%;
}

.banner-text-main-class {
  width: 55%;
  background-image: url("../images/banner-bg.png");
  padding: 50px 0px 50px 180px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.banner-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.goat-caption {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.goat-class {
  font-size: 5.9rem;
  font-weight: 800;
  text-transform: uppercase;

  margin-bottom: 15px;
}
.banner-list-container {
  padding-left: 0;
}

.banner-list-container > li {
  list-style: none;
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
}

.banner-btns {
  gap: 10px;
  margin-top: 35px;
}

.btn-signIn,
.btn-rogue {
  padding: 15px 30px;
  gap: 10px;

  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  border: 0;
}

.btn-signIn {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.btn-rogue {
  background: #4ec5f7;
}

/* ==================== responsive header Styles for mobile device========================================= */

@media screen and (max-width: 576px) {
  .logo-icon {
    width: 50px;
  }
  .nav-items-container {
    gap: 10px;
  }
  .nav-container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .nav-items {
    gap: 10px;
  }

  .nav-container,
  .nav-items-container,
  .nav-items {
    flex-direction: column;
    justify-content: center;
  }

  .logo-area {
    margin-bottom: 40px;
  }
  .nav-item {
    margin-bottom: 5px;
  }

  .banner-container {
    flex-direction: column-reverse;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
  }

  .banner-text-main-class {
    margin-top: 10px;
    margin-left: 20px;
    width: 95%;
    padding: 30px 5px 30px 15px;
    background-size: 100%;
  }
  .banner-text-area {
    width: 100%;
  }

  .goat-caption {
    font-size: 2rem;
  }
  .goat-class {
    font-size: 3.9rem;
    margin-bottom: 10px;
  }
  .banner-list-container > li {
    font-size: 1rem;
  }

  .banner-btns {
    margin-top: 20px;
  }

  .btn-signIn,
  .btn-rogue {
    padding: 10px 26px;
    font-size: 1rem;
  }

  .banner-img-class {
    width: 80%;
    padding-right: 0px;
  }
  .banner-img {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* ==================== responsive header Styles for TABLET========================================= */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav-container,
  .nav-items-container {
    flex-direction: column;
    justify-content: center;
  }

  .logo-area {
    margin-bottom: 50px;
  }

  .nav-items {
    margin-bottom: 15px;
  }

  .banner-container {
    flex-direction: column-reverse;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
  }

  .banner-text-main-class {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    padding: 65px 10px 65px 10px;
  }
  .banner-text-area {
    width: 90%;
  }
  .banner-img-class {
    width: auto;
    display: flex;
    justify-content: center;

    padding-right: 0px;
    margin-bottom: 20px;
  }
  .banner-img {
    width: 80%;
  }
}
